openapi: 3.0.0
info:
  title: Bucketscan API
  version: 1.0.0
  description: API for scanning files in S3 or R2 Buckets for viruses.
servers:
  - url: https://api.bucketscan.com/api/v1
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
  schemas:
    InitiateScanResult:
      type: object
      properties:
        scanId:
          type: string
        status:
          type: number
        statusText:
          type: string
    ScanStatus:
      type: object
      properties:
        scanId:
          type: string
        status:
          type: string
          enum: [pending, complete_clean, complete_infected, failed]
security:
  - ApiKeyAuth: []
paths:
  /scans/initiate:
    post:
      operationId: initiateFileScan
      summary: Uploads a file to initiate the virus scan
      responses:
        '200':
          description: A reference to the file being scanned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitiateScanResult'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /scans/{scanId}:
    get:
      operationId: getScanStatus
      summary: Check the status of a scan
      parameters:
        - name: scanId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The status of the file scan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanStatus'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
